@import "tailwindcss";

:root {
  --background: #131415;
  --foreground: #E9EAEE;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --text-heading-1: 36px;
  --text-heading-1--line-height: 1.3;
  --text-heading-1--font-weight: 700;

  --text-heading-3: 24px;
  --text-heading-3--line-height: 1.5;
  --text-heading-3--font-weight: 700;

  --text-heading-4: 22px;
  --text-heading-4--line-height: 1.5;
  --text-heading-4--font-weight: 700;

  --text-body-1: 18px;
  --text-body-1--line-height: 1.7;
  --text-body-1--font-weight: 500;

  --text-body-2: 17px;
  --text-body-2--line-height: 1.7;
  --text-body-2--font-weight: 500;

  --text-body-4: 15px;
  --text-body-4--line-height: 1.7;
  --text-body-4--font-weight: 400;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
